.block {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.title {
    font-size: 20px;
    font-family: Tahoma;
    margin-bottom: 10%;
}

.btn {
    width: fit-content;
    margin-bottom: 15%;
}
