.container{
    border: 1px solid #20c997;
    border-right: none;
    padding: 12px 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.part{
    margin: 4%;
    color: #20c997;
    font-family: Stencil Std, fantasy;
    font-size: 20px;

}