.container {
    border: 1px solid #dad5d1;
    border-right: none;
    padding: 0.5% 5%;
    display: flex;
    justify-content:  space-around;
    align-items: flex-start;
}

.part {
    margin: 4%;
    color: #dad5d1;
    font-family: Stencil Std, fantasy;
    font-size: 20px;
}