.block {
    display: grid;
    grid-template-columns: 30%  30% 30%;
    grid-template-rows: 25% 25% 25% 25%;
    position: center;
    align-content: center;
    justify-content: center;
    height: fit-content;
    padding: 2%;
}

.skillBox {
    display: grid;
    color: #2E614E;
    font-size: 20px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 10%;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: rgba(80, 120, 70, 0.6);
    margin: 0 auto;
}

.picture {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-family: Stencil Std, fantasy;
}

.text {
    font-size: 15px;
    text-align: center;
}