.block {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 24%  24% 24% 24%;
    grid-template-rows: 20% 20% 20%;
    grid-gap: 5% 0;
    position: center;
    align-content: center;
    justify-content: center;
    height: fit-content;
}

.skillBox {
    display: grid;
    font-size: 20px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 10%;
    box-shadow: 10px 20px 20px 10px rgba(3, 7, 6, 0.3);
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.picture {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.name {
    text-align: center;
    font-family: Stencil Std, fantasy;
    padding: 10% 0;
}
